es*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
demo/src/main/java/ar/com/nps/demo/DevActivity.java
demo/src/main/java/ar/com/nps/demo/DemoHelpers.java
demo/src/main/java/ar/com/nps/demo/WithInstallmentsDevActivity.java
.idea
/nps/deploy.gradle
nps/*.gradle
gradle.bintray.properties
deploy.settings
