*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
svn-ignore.txt
gradle.properties
nps/gradle.properties
.idea/
update_library_instructions.txt
nps/nps.iml
*.jks
build/*